<h1>Test Client {{name}}</h1>
The client is a bit sensitive to empty responses.

<h2>Create bot test</h2>
required endpoints
<ul>
  <li> clear </li>
  <li> create </li>
  <li> list </li>
</ul>
<input type="button" value="Test" (click)="testCreate()">
<br> {{createReport}}
<br>
<h2>Test Error</h2>
required endpoints
<ul>
  <li> clear </li>
  <li> create </li>
  <li> fire </li>
  <li> move </li>
</ul>
<input type="button" value="Test" (click)="testError()">
<br> Check the console!
<br>
<h2>Test move</h2>
clear and create are assumed to work, will not be checked here. Make sure the previous test works first.
<ul>
  <li> clear </li>
  <li> create </li>
  <li> map </li>
  <li> move </li>
</ul>
<input type="button" value="Test" (click)="testMove()">
<div class="reportContainer">
  <div *ngFor="let report of moveReport">
    {{report}}
  </div>
</div>
<h2>Test fire</h2>
clear and create are assumed to work, will not be checked here. Make sure the previous test works first.
<ul>
  <li> clear </li>
  <li> create </li>
  <li> map </li>
  <li> fire </li>
</ul>
<input type="button" value="Test" (click)="testFire()">
<div class="reportContainer">
  <div *ngFor="let report of fireReport">
    {{report}}
  </div>
</div>
<br>
<h2>Test Freeze</h2>
clear and create are assumed to work, will not be checked here. Make sure the previous test works first.
<ul>
  <li> clear </li>
  <li> create </li>
  <li> map </li>
  <li> fire </li>
  <li> move </li>
  <li> freeze </li>
</ul>
<input type="button" value="Test" (click)="testFreeze()">
<br>Move:
<div class="reportContainer">
  <div *ngFor="let report of freezeMoveReport">
    {{report}}
  </div>
</div>
Fire:
<div class="reportContainer">
  <div *ngFor="let report of freezeFireReport">
    {{report}}
  </div>
</div>
<br>