<h1 class="text-center">{{title}}</h1>

<div class="jumbotron">
    <h1 class="display-4">Fridge</h1>
    <app-fridge></app-fridge>
</div>
<div class="jumbotron">
    <h1 class="display-5">Recipe</h1>
    <app-recipe></app-recipe>
</div>
<div class="jumbotron">
    <h1 class="display-5">Ingredients</h1>
    <app-ingredient></app-ingredient>
</div>    