<div class="list-group">
  <div class="list-group-item">
    <div class="text-monospace mt-1 mb-4">Ingredients in the Fridge</div>
    <div class="row" *ngIf = "fridge.contents.length > 0">
      <div class="col-sm-3 text-center">Name</div>
      <div class="col-sm-3 text-center">Quantity</div>
      <div class="col-sm-3 text-center">menu</div>
      <div class="col-sm-3 text-center">Status</div>
    </div>
    <div class="alert alert-warning" role="alert" *ngIf = "fridge.contents.length <= 0">
        No ingredients in the fridge
    </div>
    <div class="row" *ngFor="let ingredient of fridge.contents">
      <div class="col-sm-3">{{ingredient.name}}</div>
      <div class="col-sm-3">{{ingredient.quantity}}</div>
      <div class="col-sm-3 text-center">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary"   (click)="addIng(ingredient)"><i class="fa fa-plus-circle" aria-hidden="true"> </i></button>
          <button type="button" class="btn btn-secondary" (click)="removeAll(ingredient)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          <button type="button" class="btn btn-danger"    (click)="removeIng(ingredient)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
        </div>      
      </div>
      <div class="col-sm-3">
          {{checkIfMissing(ingredient)}}        
        </div>
    </div>
  </div>
  <div class="list-group-item list-group-item-dark">
    <div class="text-monospace  mt-1 mb-4">Shopping List</div>
    <div class="alert alert-success" role="alert" *ngIf = "list.shoppingList.length <= 0">
      No ingredients to add
    </div>
    <div *ngIf = "list.shoppingList.length > 0">
      <div class="row">
        <div class="col-sm-6 text-center">Name</div>
        <div class="col-sm-3 text-center">Quantity</div>
        <div class="col-sm-3 text-center">menu</div>
      </div>      
      <div class="row" *ngFor="let ingredient of list.shoppingList, let i = index">
        <div class="col-sm-6">{{ingredient.name}}</div>
        <div class="col-sm-3">{{ingredient.quantity}}</div>
        <div class="col-sm-3 text-center">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary"   (click)="addFromShoppingList(ingredient)"><i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-secondary" (click)="removeOfRecipe(i)"><i class="fa fa-times" aria-hidden="true"></i></button>
          </div>      
        </div>
      </div>
    </div>
  </div>
</div>