<div class="jumbotron recipeList">
  <div class="text-monospace  mt-1 mb-4">Recipes List</div>
  <div class="alert alert-warning" size="5" *ngIf="recipesList.length == 0">
    No recipes in the recipe list
  </div>          
  <select class="col" size="5">
    <option *ngFor="let rec of recipesList, let i = index" (click)="selectRecipe(i)">{{i}} - {{rec.name}}</option>
  </select>          
  <div class="d-flex justify-content-end btn-group" role="group" *ngIf="recipesList.length > 0">
    <button type="button" class="btn btn-info"   (click)="editRecipe()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-secondary" (click)="removeRecipe()"><i class="fa fa-trash" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-warning"   (click)="sendRecipeToFridge()"><i class="fa fa-snowflake-o" aria-hidden="true"></i></button>              
  </div>          
  <hr class="my-4">
</div>
<div class="list-group">
  <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
      </div>
    <input type="text" class="form-control" placeholder="Recipe Name" [(ngModel)]="recipe.name">
  </div>    
  <div class="list-group-item">
    <div class="text-monospace  mt-1 mb-4">Add a new instruction</div> 
    <div class="col">
      <div class="row">
          <textarea class="form-control" rows="3" [(ngModel)]="instructionInput"></textarea>
      </div>
      <div class="row">
          <div class="col-sm-3" id="durationInputBox">
            <input type="text" class="form-control" [(ngModel)]="recipe.estimatedTime" placeholder="duration">
          </div>
          <div class="col-sm-3 minutes">
              estimated time
            </div>
            <div class="col button">
            <div class="d-flex justify-content-end">
              <button class="btn btn-primary" (click)="addNewInstruction()"><i [class]="button.class" aria-hidden="true"></i>{{button.value}}</button>                
            </div>
        </div>
      </div>                
    </div>
  </div>
  <div class="list-group-item list-group-item-dark">
    <div class="text-monospace  mt-1 mb-4">Ingredients</div>
      <div class="alert alert-warning" role="alert" *ngIf = "recipe.ingredients.length <= 0">
        No Ingredients in the recipe
      </div>
      <div *ngIf = "recipe.ingredients.length > 0">
        <div class="row">
          <div class="col-sm-4 text-center">Name</div>
          <div class="col-sm-3 text-center">Quantity</div>
          <div class="col-sm-5 text-center">menu</div>
        </div>                      
        <div class="row" *ngFor="let ingredient of recipe.ingredients, let i = index">
          <div class="col-sm-4">{{ingredient.name}}</div>
          <div class="col-sm-3">{{ingredient.quantity}}</div>
          <div class="col-sm-5  text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary"   (click)="addIng(i)"><i class="fa fa-plus-circle" aria-hidden="true"> </i></button>
              <button type="button" class="btn btn-secondary" (click)="removeAll(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-warning"   (click)="sendIngredientToFridge(i)"><i class="fa fa-snowflake-o" aria-hidden="true"></i></button>              
              <button type="button" class="btn btn-danger"    (click)="removeIng(i)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
      </div>
    <hr class="my-4">
    <div class="text-monospace  mt-1 mb-4">Instructions</div>
    <div class="alert alert-warning" role="alert" *ngIf = "recipe.instructions.length <= 0">
      No instructions in the recipe
    </div>
    <div *ngIf = "recipe.instructions.length > 0">
      <div class="row" *ngFor="let instruction of recipe.instructions, let i = index">
        <div class="col-sm-9">{{instruction}}</div>
        <div class="col-sm-3  text-center">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-info"   (click)="editInstr(i)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" class="btn btn-secondary" (click)="removeInstr(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
          </div>      
        </div>
      </div>
    </div>          
  </div>  
</div>
<div class="list-group">
  <div class="d-flex justify-content-end btn-group" role="group">
    <button [class]="buttonRecipe.value" [disabled]="!editEnabled" (click)="updateRecipe()"><i [class]="buttonRecipe.class" aria-hidden="true"></i></button>    
    <button type="button" class="btn btn-primary"   (click)="addNewRecipe()"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-success" (click)="clearRecipe()"><i class="fa fa-file-o" aria-hidden="true"></i></button>
    <button type="button" class="btn btn-warning"   (click)="sendToFridge()"><i class="fa fa-snowflake-o" aria-hidden="true"></i></button>              
  </div>                
</div>
    