<div class="list-group">
  <div class="list-group-item">
    <div class="text-monospace  mt-1 mb-4">Add a new Ingredient to market</div>    
    <div class="form-inline">
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="ingredient" [(ngModel)]="ingName">
      </div>    
    
      <div class="input-group mb-2 mr-sm-2">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-cart-plus" aria-hidden="true"></i></div>
        </div>
        <input type="number" class="form-control" placeholder="quantity" [(ngModel)]="ingQty">
      </div>
      <button class="btn btn-primary mb-2" (click)="addNewIng()"><i [class]="button.class" aria-hidden="true"></i>{{button.value}}</button>
    </div>
  </div>
  <div class="list-group-item list-group-item-dark">
    <div class="text-monospace  mt-1 mb-4">Ingredients Avaliable in the market</div>
      <div class="alert alert-danger" role="alert" *ngIf = "ingredients.length <= 0">
        No Ingredients in the market
      </div>
      <div *ngIf = "ingredients.length > 0">
      <div class="row">
          <div class="col-sm-4 text-center">Name</div>
          <div class="col-sm-3 text-center">Quantity</div>
          <div class="col-sm-5 text-center">menu</div>
        </div>                      
        <div class="row" *ngFor="let ingredient of ingredients, let i = index" (click)="editIng(i)">
          <div class="col-sm-4">{{ingredient.name}}</div>
          <div class="col-sm-3">{{ingredient.quantity}}</div>
          <div class="col-sm-5  text-center">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-primary"   (click)="addIng(i, 1)"><i class="fa fa-plus-circle" aria-hidden="true"> </i></button>
              <button type="button" class="btn btn-info"   (click)="editIng(i)"><i class="fa fa-pencil" aria-hidden="true"> </i></button>
              <button type="button" class="btn btn-secondary" (click)="removeAll(i)"><i class="fa fa-trash" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-warning"   (click)="addToRecipe(i)"><i class="fa fa-list" aria-hidden="true"></i></button>              
              <button type="button" class="btn btn-danger"    (click)="removeIng(i)"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
            </div>      
          </div>
        </div>
      </div>        
  </div>
</div>