.justify-content-end{
    margin-top: 20px;
}

.button{
    padding-right: 0;
}

.minutes{
    padding-top: 15px;
    margin-left: 10px;
}
.col-sm-3{
    margin-top: 10px;
    padding-left: 0;
    padding-right: 0;
}

#durationInputBox{
    margin-top: 20px;
}
.recipeList{
    padding: 0;
}